/* Why Reading */
#why-reading-section {
    /* margin: 0 8%; */
    margin-top: 240px;
    /* padding-bottom: 100px; */
    /* background-color: white; */
}

#reading-benefits-headline {
    padding-bottom: 20px;
    font-size: 2.1em;
    font-weight: bold;
    text-align: center;
}

.benefits-icon {
    /* width: inherit; */
    height: 131px;
}

#why-reading-section .benefits-icon img {
    width: 131px;
    height: 131px;
    display: block;
    margin: 0 auto;
}

#reading-benefits-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 60px;
}

.benefits-ind {
    /* width: 220px; */
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    flex: 1 1 220px;
    padding: 40px 15px 0 15px;
}

/* .benefits-ind:not(:last-child) {
    padding-right: 30px;
} */

.benefits-text {
    margin: 0 auto;
}

.benefits-ind h4 {
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 1.5em;
    padding-bottom: 0.6em;
    text-align: center;
    margin: 0 auto;
}

.benefits-ind p {
    text-align: center;
    max-width: 295px;
    min-width: 209px;
}

#benefits-link {
    display: block;
    text-align: end;
    max-width: 1100px;
    margin: 30px auto 0 auto;
    padding: 2.1em 75px 0 75px;
    font-weight: 500;
}

@media screen and (max-width: 1076px) {
    #reading-benefits-info,
    #benefits-link {
        max-width: 770px;
    }

    .body {
        background-position: 0 2400px;
    }
}

@media screen and (max-width: 960px) {
    .body {
        background-position: 0 1400px;
    }
}

@media screen and (max-width: 768px) {
    #why-reading-section {
        margin-top: 150px;
    }
    #reading-benefits-headline {
        font-size: 1.75em;
    }
}