/* .section-product-list {
    padding-top: 45px;
    width: 100%;
    margin-bottom: 100px;
} */

/* #section-product-list-2 {
    background-color: var(--section-bg-color);
} */

#section-product-list-3 {
    margin-bottom: 0;
    padding-top: 45px;
    width: 100%;
    /* overflow: hidden; */
    position: relative;
}

.book-section-category {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    padding-left: 58px;
    width: 1100px;
}

.category-headline, #browse-cat h2 {
    margin: 0;
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
    padding-right: 50px;
}

/* Carousel */

.carousel-container {
    width: 76%;
    margin: 26px auto 0 auto;
    overflow: hidden;
    border: 1px solid #333;
}

.book-section-slide {
    display: flex;
    width: 100%;
    border: 1px solid red;
    /* margin-top: 26px; */
    /* margin: 26px auto 0 auto; */
    /* margin: 26px 78px 0 78px; */
}
#prevBtn,
#nextBtn {
    position: absolute;
    top: 45%;
    z-index: 10;
    cursor: pointer;

    height: 80px;
    width: 60px;
}

#prevBtn {
    left: 5%;
}

#nextBtn {
    right: 5%;
}

#prevBtn svg,
#nextBtn svg {
    width: 40px;
    opacity: 0.7;
}

#prevBtn svg:hover,
#nextBtn svg:hover {
    opacity: 1;
}


/* Each book*/
.one-book {
    /* margin: 0 30px; */
    max-width: 220px;
    padding: 0 35px;
}

.book-image-container {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.book-image {
    max-width: 150px;
}

.book-info {
    padding: 0.6em 0 0.6em 0;
}

.book-info-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
}

.book-footer {
    margin-top: auto;
    margin-bottom: 40px;
}

.book-title {
    padding-bottom: 0.1em;
    font-weight: bold;
}

.book-author {
    font-size: 0.9em;
    line-height: 1.5em;
}

/* Ratings */
.book-rating {
    display: flex;
    justify-content: space-between;
}

.book-rating-stars {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.fa-star {
    margin: 0;
    padding-right: 2px;
    color: #dcdcdc;
}

#checked {
    color: #f9af22;
}

.book-rating-num {
    font-size: 0.75em;
    margin: 0;
}

/* Book price */
.book-price {
    padding: 0.4em 0;
    font-weight: bold;
}

/* Add button */
.add-btn {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--secondary-brand-color);
    background-color: var(--primary-brand-color);
    padding: 0.75em 0;
    border: none;
    border-radius: 6px;
    width: 100%;
}

/* Browse categories */
#browse-cat {
    display: flex;
    width: 1100px;
    padding-top: 15px;
    padding-left: 58px;
    margin: 0 auto;
}

#browse-cat h2 {
    padding-right: 0.5em;
}

#browse-cat img {
    padding-top: 5px;
}

#popup-icon {
    width: 2em;
    height: auto;
}
    
@media screen and (max-width: 960px) {
    #browse-cat h2 {
        font-size: 24px;
    }

    .carousel-container {
        width: 95%;
        margin: 26px 0 0 5%;

        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .one-book {
        padding: 0 20px;
    }

    #prevBtn,
    #nextBtn {
        display: none;
    }

    /* .book-section-slide {
        overflow-x: scroll;
    } */
}

@media screen and (max-width: 660px) {
    #browse-cat h2 {
        font-size: 18px;
        text-decoration: underline;
    }
    #browse-cat img {
        display: none;
    }
}