#book-sections-main {
    position: relative;
}

#section-product-list-3 {
    padding-top: 45px;
    position: relative;
}

.book-section-category {
    display: flex;
    align-items: baseline;
    width: 1100px;
    margin: 0 auto;
    padding-left: 35px;
}

.category-headline, #browse-cat h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 1.9em;
    padding-right: 50px;
}

.category-show-all:hover {
    text-decoration: underline;
}

/* Carousel */
.carousel-container {
    width: 1100px;
    margin: 26px auto 0 auto;
    overflow: hidden;
}

.book-section-slide {
    display: flex;
    width: 100%;
}

#prevBtn,
#nextBtn {
    width: 60px;
    height: 80px;
    position: absolute;
    top: 45%;
    z-index: 10;
    cursor: pointer;
}

#prevBtn {
    left: 3%;
}

#nextBtn {
    right: 3%;
}

#prevBtn svg,
#nextBtn svg {
    width: 40px;
    opacity: 0.5;
}

#prevBtn svg:hover,
#nextBtn svg:hover {
    opacity: 1;
}


/* Each book*/
.one-book {
    max-width: 220px;
    padding: 0 35px;
}

.book-image-container {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.book-image {
    max-width: 150px;
}

.book-info {
    padding: 0.6em 0 0.6em 0;
}

.book-info-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
}

.book-footer {
    margin-top: auto;
    margin-bottom: 40px;
}

.book-title {
    padding-bottom: 0.1em;
    font-weight: bold;
}

.book-author {
    font-size: 0.9em;
    line-height: 1.5em;
}

.book-rating {
    display: flex;
    justify-content: space-between;
}

.book-rating-stars {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.fa-star {
    color: #dcdcdc;
    margin: 0;
    padding-right: 2px;
}

.checked {
    color: #f9af22;
}

.book-rating-num {
    margin: 0;
    font-size: 0.75em;
}

.book-price {
    padding: 0.4em 0;
    font-weight: bold;
}

.add-btn {
    width: 100%;
    background-color: rgba(191, 229, 207, 0.85);
    color: var(--secondary-brand-color);
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.6em 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: var(--primary-brand-color);
}

/* Browse categories */
#browse-cat {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 35px;
}

#browse-cat h2 {
    padding-right: 0.5em;
}

#browse-cat img {
    padding-top: 5px;
}

#popup-icon {
    width: 2em;
    height: auto;
}

#categories-list {
    /* display: none; */
    background-color: white;
    width: 80%;
    max-width: 933px;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 8px #d8d8d8;
}

#categories-list ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#categories-list li {
    width: 185px;
    margin: 0 10px;
    padding: 2px 5px;
    text-align: left;
}

#escape-button {
    background-color: yellow;
    width: 33px;
    height: 33px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.escape-bar1,
.escape-bar2 {
    width: 33px;
    height: 4px;
    margin: 5px 0;
    border-radius: 3px;
    z-index: 1000;
    color: var(--main-text-color);
    
}

@media screen and (max-width: 1280px) {
    .carousel-container,
    .book-section-category,
    #browse-cat {
        width: 900px;
    }
    .book-section-category,
    #browse-cat {
        padding-left: 20px;
    }
    .one-book {
        max-width: 180px;
        padding: 0 20px;
    }
    #prevBtn {
        left: 1%;
    }
    
    #nextBtn {
        right: 1%;
    }
}
    
@media screen and (max-width: 960px) {
    .carousel-container {
        width: 100%;
        padding-left: 5%;
        margin: 26px 0 0 0;

        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .book-section-category,
    #browse-cat {
        width: 100%;
        padding-left: 5%;
    }

    .category-headline,
    #browse-cat h2 {
        padding-left: 20px;
    }

    #browse-cat h2 {
        font-size: 24px;
    }

    .one-book {
        padding: 0 20px;
    }

    .add-btn {
        background-color: var(--primary-brand-color);
    }

    #prevBtn,
    #nextBtn {
        display: none;
    }

    #popup-icon {
        display: none;
    }

    #categories-list{
        display: block;
        background-color: transparent;
        width: 90%;
        margin: 30px auto 0 auto;
        position: static;
        left: auto;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }
}

@media screen and (max-width: 768px) {
    .carousel-container,
    .book-section-category,
    #browse-cat {
        padding-left: 2%;
    }

    #categories-list {
        display: none;
    }

    #browse-cat {
        display: flex;
    }

    #browse-cat h2 {
        font-size: 18px;
        text-decoration: underline;
    }
    
    #browse-cat img {
        display: none;
    }
}