.section-product-list {
    margin: 0 8%;
    margin-top: 45px;
}

.book-section-category {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
}

.category-headline {
    margin: 0;
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
    padding-right: 50px;
}

/* Stylar alla böcker relativt till varandra */
.book-section {
    display: flex;
    margin-top: 26px;
    
}

.one-book {
    margin: 0 30px;
    width: 136px;
}

.book-image-container {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.book-image {
    width: 136px;
}

.book-info {
    padding: 0.6em 0 0.6em 0;
}

.book-info-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
}

.book-footer {
    margin-top: auto;
    margin-bottom: 40px;
}

.book-title {
    padding-bottom: 0.1em;
    font-weight: bold;
}

.book-author {
    font-size: 0.9em;
    line-height: 1.5em;
}

/* Ratings */
.book-rating {
    display: flex;
    justify-content: space-between;
}

.book-rating-stars {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.fa-star {
    margin: 0;
    padding-right: 2px;
    color: #dcdcdc;
}

#checked {
    color: #f9af22;
}

.book-rating-num {
    font-size: 0.75em;
    margin: 0;
}

/* Book price */
.book-price {
    padding: 0.4em 0;
    font-weight: bold;
}

/* Add button */
.add-btn {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--secondary-brand-color);
    background-color: var(--primary-brand-color);
    padding: 0.75em 0;
    border: none;
    border-radius: 24px;
    width: 100%;

/* #book-sections-main {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.book-section-category {
    display: flex;
    align-items: baseline;
    margin-left: 100px;
}

.category-headline {
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
    margin-left: 32px;
}

.category-show-all {
    padding: 0 2em;
}

.book-section {
    display: flex;
    justify-content: center;
    margin: 5px auto 40px auto;
    width: 84%;
}

.one-book {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.one-book * {
    margin: 0 32px;
}

.books-image {
    width: 136px;
    height: auto;
    padding-bottom: 0.6em;
}

.book-title {
    font-weight: bold;
    
}

.book-author {
    font-size: 0.9em;
    line-height: 1.5em;
    padding-top: 0.4em;
}

.book-rating {
    display: flex;
    justify-content: space-between;
    padding-top: 0.7em;
}

.book-rating-stars {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.fa-star {
    margin: 0;
    padding-right: 2px;
    color: #dcdcdc;
}

#checked {
    color: #f9af22;
}

.book-rating-num {
    font-size: 0.75em;
    margin: 0;
}

.book-price {
    font-weight: bold;
    padding: 0.7em 0 0.5em 0;
}

.add-btn {
    font-size: 0.9em;
    color: var(--secondary-brand-color);
    background-color: var(--primary-brand-color);
    padding: 0.75em 0;
    border: none;
    border-radius: 24px;
} */