#carousel {
    padding: 0 8%;
    padding-top: 80px;
}

/* #carousel-text {
    text-align: center;
} */

#carousel-illustrations {
    display: flex;
}

.carousel-cell {
    margin-top: 60px;
    width: 55%;
    height: auto;
    counter-increment: carousel-cell;
}

.carousel-cell:before {
    display: block;
    content: counter(carousel-cell);
}