#footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "shopping customer-service . . social-media social-media";
    padding: 150px 8% 2em 8%;
    font-size: 0.9em;
}

#shopping {
    grid-area: shopping;
}
#customer-service {
    grid-area: customer-service;
}
#follow-us {
    grid-area: social-media;
    justify-self: end;
}

.footer-headline {
    padding-bottom: 0.75em;
    font-weight: bold;
}

#social-media-links {
    display: flex;
}

#social-media-links svg {
    width: 40px;
    height: 40px;
}

.facebook {
    margin-right: 10px;
}

.instagram {
    margin-right: 17px;
}

#footer > * {
    min-width: 120px
}

#shopping,
#customer-service {
    margin-right: 30px;
}

#social-media-links svg:hover {
    fill: var(--secondary-brand-color);
}

/* Background */
.flex-wrapper {
    background-image: url("../img/background/mindful-reading-footer-mintgreen.svg");
    background-repeat: no-repeat;
    background-position: 0 2290px;
    background-size: 100% auto;
}

@media screen and (max-width: 1280px) {
    .flex-wrapper {
        background-position: 0 2140px;
    }
}

@media screen and (max-width: 1078px) {
    .flex-wrapper {
        background-position: 0 2380px;
    }
}

@media screen and (max-width: 960px) {
    .flex-wrapper {
        background-position: 0 2630px;
    }
}

@media screen and (max-width: 768px) {
    .flex-wrapper {
        background-position: 0 2220px;
    }

    #footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "shopping"
        "customer-service"
        "social-media";
        padding-bottom: 3em;
    }

    .footer-content {
        justify-self: center;
    }

    #follow-us {
        justify-self: center;
    }

    #footer h4, li, svg {
        text-align: center;
    }

    #shopping,
    #customer-service {
    margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 660px) {
    .flex-wrapper {
        background-position: 0 2300px;
    }
}

@media screen and (max-width: 596px) {
    .flex-wrapper {
        background-position: 0 2790px;
    }
}

@media screen and (max-width: 526px) {
    .flex-wrapper {
        background-position: 0 2740px;
    }
}

@media screen and (max-width: 428px) {
    .flex-wrapper {
        background-position: 0 2660px;
    }
    
    #footer {
        padding-top: 100px;
    }
}

@media screen and (max-width: 398px) {
    .flex-wrapper {
        background-position: 0 2710px;
    }
}