#header {
    width: 100%;
    height: 122px;
    padding: 0 78px;
    background-color: white;

    display: grid;
    grid-template-columns: 2fr 2fr 4fr 1fr;
    grid-template-areas: 'logo dropdowns searchbar nav-icons';
    align-items: center;
    
}

#header-logo {
    grid-area: logo;
}

#menu-dropdowns {
    grid-area: dropdowns;
    display: flex;
    justify-content: flex-end;
}

#searchbar {
    grid-area: searchbar;
    display: flex;
    margin: 0 10px;
}

#main-nav-icons {
    grid-area: nav-icons;
}

#header-logo img {
    max-width: 156px;
    min-width: 123px;
    height: auto;
}

/* arrow and dropdowns */
.down-arrow {
    border: solid var(--secondary-brand-color);
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin: 0 0 2px 3px;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown {
    position: relative;
}

.dropbtn {
    border: none;
    background-color: transparent;
}

.dropbtn, .dropdown-content a {
    font-size: 0.9em;
    line-height: 1.5em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
}

.dropdown-content a,
.dropdown:hover .dropdown-content {
    display: block;
}

/* Searchbar */
#searchbar input {
    width: 90%;
    max-width: 457px;
    border: 2px solid var(--primary-brand-color);
    border-right: none;
    border-radius: 24px 0 0 24px;
    padding: 1em;
    font-size: 0.9em;
    position: relative;
}

#searchbar #submit {
    width: 60px;
    background-color: transparent;
    border: 2px solid var(--primary-brand-color);
    border-left: none;
    border-radius: 0 24px 24px 0;
    cursor: pointer;
}

#search-icon {
    width: 35px;
    height: 35px;
}

/* Icons */

#main-nav-icons {
    display: flex;
}

#account, #basket {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    margin: 0.4em;
}

#account img, #basket img {
    height: 35px;
    width: auto;
    margin-left: 7px;
    margin-top: 7px;
}

/* Smaller desktop */ 
@media screen and (max-width: 1200px) {
    #header {
        padding: 0 50px;
    }
}

