

#flex-wrapper {
    display: flex;
    flex-direction: column;
}

.main-flex-item {
    min-height: 100px;
    border: 1px solid #333;
}

/* Header */

#header {
    padding: 2% 82px 2% 82px;
    display: flex;
    background-color: white;
}

#header-logo {
    width: 35%;
}

#header-logo img {
    max-width: 180px;
    height: auto;
    padding-top: 13px;
}

#main-menu {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

#main-menu-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

#main-menu-list a {
    text-decoration: none;
    font-weight: 400;
    padding: 2px 5px;
}

#menu-categories {
    background-color: var(--primary-brand-color);
    border-radius: 4px;
}

#main-nav-icons {
    display: flex;
}

#main-nav-icons {
    width: 20%;
}

#account, #basket {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    margin: 5px;
}

#account img, #basket img {
    height: 35px;
    width: auto;
    margin-left: 7px;
    margin-top: 7px;
}

#searchbar input {
    width: 500px;
    flex: 0 1 500px;
    border: 2px solid var(--primary-brand-color);
    border-radius: 4px;
    padding: 0.5em;
}