#incentive {
    width: 100%;
}

.incentive-content {
    display: grid;
    grid-template-columns: 310px minmax(490, 605px);
    grid-template-rows: auto;
    grid-template-areas: 
    "headline headline"
    "body-text illustration";

    margin: 100px auto 227px auto;
    padding: 0 60px;
    max-width: 1100px;
}

#incentive-headline {
    grid-area: headline;
    
    font-weight: 500;
    font-size: 2.5vw;

    margin-bottom: 52px;
}

#incentive-text {
    grid-area: body-text;

    padding-right: 20px;
}

#incentive-text p {
    padding-bottom: 1.5em;
    width: 280px;
    font-size: 1em;
}

#incentive-text a {
    text-decoration: underline;
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.75;
}

#incentive-text a:hover {
    opacity: 1;
}

#incentive-img {
    grid-area: illustration;
}

#incentive-img img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

@media screen and (max-width: 960px) {
    .incentive-content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "headline"
        "body-text"
        "illustration";

        margin-top: 50px;
    }
    #incentive-headline,
    #incentive-text,
    #incentive-img {
        margin: 0 auto;
    }

    #incentive-text {
        padding-right: 0;
        padding-bottom: 2em;
        text-align: center;
    }

    #incentive-text p {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
}

#bg-img-top {
    background-image: url("../img/background/green-bg-top.svg");
    background-repeat: no-repeat;
    background-position: 0 277px;
    background-size: 100% auto;
}

@media screen and (max-width: 1280px) {
    .incentive-content {
        margin-bottom: 70px;
    }
}

/* @media screen and (max-width: 960px) {
    #bg-img-top {
        background-image: url("../img/background/green-bg-top-mobile.svg");
        background-position: 0 207px;
    }
} */

@media screen and (max-width: 768px) {
    #incentive-headline {
        font-size: 1.2em;
        text-align: center;
    }

    #bg-img-top {
        background-image: url("../img/background/green-bg-top-mobile.svg");
        background-position: 0 247px;
    }
}

@media screen and (max-width: 660px) {
    #incentive-headline {
        max-width: 368px;
    }

    #incentive-text p {
        max-width: 372px;
    }

    #bg-img-top {
        background-position: 0 310px;
    }
}